##### Section 1.1.1 <a class="anchor" id="sub_section_1_1_1"></a>

## Table of Content
* [Importing and cleaning the Data](#Importdata)
    * [Global living costs](#Globallivingcosts) 
        * [Create a Data frame](#Createadataframe)
        * [Handling missing values](#Handlingmissingvalues)
        * [Data frame only for European 47 countries](#Dataframe_only_for_European_47_countries)
        * [Tuple to list conversion](#Tupletolist)
        * [Drop the columns](#dropcolumns)
        * [Extract data frame to excel](#dftoexcel)
        * [Filter the european countries](#countryfilter)
    * [Global life expectancy](#globallifeexpectancy)
    * [Global health expenditure](#globalhealthexpenditure)
    * [GDP](#gdp)
    * [Internet speed](#internetspeed)
    * [Crime rate](#crimerate)
    * [Happy planet index](#happyplanetindex)
* [EDA](#eda)
    * [Section 2.1](#section_2_1)
        * [Sub Section 2.1.1](#sub_section_2_1_1)
        * [Sub Section 2.1.2](#sub_section_2_1_2)
    * [Section 2.2](#section_2_2)
        * [Sub Section 2.2.1](#sub_section_2_2_1)
        * [Sub Section 2.2.2](#sub_section_2_2_2)
* [Chapter 3](#chapter3)
    * [Section 3.1](#section_3_1)
        * [Sub Section 3.1.1](#sub_section_3_1_1)
        * [Sub Section 3.1.2](#sub_section_3_1_2)
    * [Section 3.2](#section_3_2)
        * [Sub Section 3.2.1](#sub_section_3_2_1)
        * [Sub Section 3.2.2](#sub_section_3_2_2)

## Importing the Data <a class="anchor" id="Importdata"></a>

### Global living costs <a class="anchor" id="Globallivingcosts"></a>

##### Create a Data frame <a class="anchor" id="Createadataframe"></a>

In [ ]:
import pandas as pd
pd.read_csv
# Set column names to 'carrier' and 'name' # It made th ecolumns
global_living_costs_columns = ['city' , 'country', 'inexpensive_meal', 'mid_range_meal_for_two', 'mac_meal', 'domestic_beer_0.5', 'imported_beer_0.33', 'cappuccino_restaurants', 
                        'coke_0.33_restaurants', 'water_0.33_restaurants', 'milk_1_liter', 'loaf_fresh_white_bread_500g', 'white_rice_1kg', '12_eggs', 'local_cheese_1kg', 
                        'chicken_fillet_1kg', 'beef_1kg', 'apples_1kg', 'banana_1kg', 'oranges_1kg', 'tomato_1kg', 'potato_1kg', 'onion_1kg', 'lettuce_1_head', 'water_1.5ltr_market', 
                        'bottle_of_wine_market','domestic_beer_0.5ltr_market', 'imported_beer_0.33ltr_market', 'cigarettes_20packs_marlboro', 'one_way_ticket_local_transport', 
                        'monthly_pass', 'taxi_start', 'taxi_1km', 'taxi_1hr_waiting', 'gasoline_1ltr', 'car1_vw_golf', 'car2_toyota_corolla', 'apartment_extra_bills_85sqm', 
                        '1min__prepaid_call', 'internet', 'fitness_club_monthly', 'tennis_court_rent_1hr_weekend', 'cinema_1seat', 'kindergarten_full_day_private_monthly', 
                        'primary_school_yearly', 'one_jeans', 'one_summer_dress', 'nike_running_shoes_pair', 'leather_business_shoes_men', 'apartment_1_bed_city_center', 
                        'apartment_1_bed_outside_city_center', 'apartment_3_bed_city_center','apartment_3_bed_outside_city_center', 'price_per_sqm_buy_apartment_city_center',
                        'price_per_sqm_buy_apartment_outside_city_center', 'avg_monthly_salary', 'mortgage_interest_rate_percent', 'data_quality']

In [ ]:
global_living_costs = pd.read_csv('cost-of-living_v2.csv', delimiter=',')
global_living_costs.head()

In [ ]:
global_living_costs = global_living_costs.rename(columns= {"x1":'inexpensive_meal', "x2":'mid_range_meal_for_two', "x3":'mac_meal', "x4":'domestic_beer_0.5', "x5":'imported_beer_0.33', "x6":'cappuccino_restaurants', 
                        "x7":'coke_0.33_restaurants', "x8":'water_0.33_restaurants', "x9":'milk_1_liter', "x10":'loaf_fresh_white_bread_500g', "x11":'white_rice_1kg', "x12":'12_eggs', 
                        "x13":'local_cheese_1kg', 
                        "x14":'chicken_fillet_1kg', "x15":'beef_1kg', "x16":'apples_1kg', "x17":'banana_1kg', "x18":'oranges_1kg', "x19":'tomato_1kg', "x20":'potato_1kg', 
                        "x21":'onion_1kg', "x22":'lettuce_1_head', "x23":'water_1.5ltr_market', 
                        "x24":'bottle_of_wine_market', "x25":'domestic_beer_0.5ltr_market', "x26":'imported_beer_0.33ltr_market', "x27":'cigarettes_20packs_marlboro', 
                        "x28":'one_way_ticket_local_transport', 
                        "x29":'monthly_pass', "x30":'taxi_start', "x31":'taxi_1km', "x32":'taxi_1hr_waiting', "x33":'gasoline_1ltr', "x34":'car1_vw_golf', "x35":'car2_toyota_corolla', 
                        "x36":'apartment_extra_bills_85sqm', 
                        "x37":'1min__prepaid_call', "x38":'internet', "x39":'fitness_club_monthly', "x40":'tennis_court_rent_1hr_weekend', "x41":'cinema_1seat', "x42":'kindergarten_full_day_private_monthly', 
                        "x43":'primary_school_yearly', "x44":'one_jeans', "x45":'one_summer_dress', "x46":'nike_running_shoes_pair', "x47":'leather_business_shoes_men', "x48":'apartment_1_bed_city_center', 
                        "x49":'apartment_1_bed_outside_city_center', "x50":'apartment_3_bed_city_center', "x51":'apartment_3_bed_outside_city_center', "x52":'price_per_sqm_buy_apartment_city_center',
                        "x53":'price_per_sqm_buy_apartment_outside_city_center', "x54":'avg_monthly_salary', "x55":'mortgage_interest_rate_percent'})

##### Handling missing values <a class="anchor" id="Handling missing values"></a>

In [ ]:
global_living_costs.isnull().sum()

##### Data frame only for European 47 countries <a class="anchor" id="Dataframe_only_for_European_47_countries"></a>

In [ ]:
list_european_countries = ('Albania',
'Andorra',
'Belgium',
'Bosnia and Herzegovina',
'Bulgaria',
'Denmark',
'Germany',
'Estonia',
'Finland',
'France',
'Greece',
'Ireland',
'Iceland',
'Italy',
'Kazakhstan',
'Kosovo',
'Croatia',
'Latvia',
'Liechtenstein',
'Lithuania',
'Luxembourg',
'Malta',
'Moldova',
'Monaco',
'Montenegro',
'Netherlands',
'North Macedonia',
'Norway',
'Austria',
'Poland',
'Portugal',
'Romania',
'Russia',
'San Marino',
'Sweden',
'Switzerland',
'Serbia',
'Slovakia',
'Slovenia',
'Spain',
'Czech Republic',
'Turkey',
'Ukraine',
'Hungary',
'Vatican',
'United Kingdom',
'Belarus')

##### Tuple to list conversion <a class="anchor" id="tupletolist"></a>

In [ ]:
list_european_countries = list(list_european_countries)

##### Filter the European countries <a class="anchor" id="countryfilter"></a>

In [ ]:
european_living_costs = global_living_costs.loc[global_living_costs["country"].isin(list_european_countries)]

##### Drop the redundant columns <a class="anchor" id="dropcolumns"></a>

In [ ]:
final_european_living_costs = european_living_costs.drop(['monthly_pass', 'tennis_court_rent_1hr_weekend', 'primary_school_yearly', 'apartment_1_bed_city_center', 
                                                                'apartment_1_bed_outside_city_center',
                                                                'apartment_3_bed_city_center', 'apartment_3_bed_outside_city_center', 'price_per_sqm_buy_apartment_city_center', 
                                                                'price_per_sqm_buy_apartment_outside_city_center', 'mortgage_interest_rate_percent',
                                                                'data_quality'], axis = 1) #inplace= true, may be needed

In [ ]:
#final check on the dataframe, we have 1839 entries on 1503 rows and 47 columns with 47 countries
final_european_living_costs.isnull().sum()

In [ ]:
drop_these_cities = ["Armavir", "Novomoskovsk", "Prokuplje", "Citta di Castello", "Fidenza", "Iglesias", "Novy Jicin", "Ivdel", "Lipari", "Voerendaal", "Bertinoro", "Serris", 
                    "Castrolibero", "Merida", "Bethune", "Crotone", "Saint-Louis", "Montceau-les-Mines", "Lanskroun", "Biasca", "Cortina d'Ampezzo", "Falconara Marittima", 
                    "Buochs", "Champigny-sur-Marne", "Newcastle", "Zlatoust", "Oranienburg", "Chita", "Kyzyl", "Maisons-Alfort", "Bilhorod-Dnistrovskyi", "Cholet", "Ainring", "Bilovec", 
                    "Puteaux", "Meaux", "Rodez", "Beziers", "Arsenyev", "Fastiv", "Capannori", "San Dona di Piave", "Zakopane", "Komlo", "Santa Margherita Ligure", "Lambersart", "Casandrino",
                     "Godalming", "Geraardsbergen", "Bratsk", "Gravesend", "Cattolica", "Manfredonia", "Auxerre", "Sutton on Hull", "Kolomyia", "Bad Mergentheim", "Livadeia", "Podebrady", 
                     "Vocklabruck", "Alatyr", "Angarsk", "Rudnyy", "Montreuil", "Rayleigh", "Potenza", "Evry", "Montevrain", "Birsfelden", "Gummersbach", "Bucine", "Grays", "Cuprija", "Tuapse", 
                     "Niort", "Lousada", "Saint-Martin-de-Crau", "Bollnas", "Zweibrucken", "Segezha", "Komsomol'sk-na-Amure", "Abakan", "Kettering", "Chalon-sur-Saone", "Vigevano", "Bad Kreuznach",
                      "Veldhoven", "Louvain-la-Neuve", "Friedrichsdorf", "Litvinov", "Annaberg-Buchholz", "Alcaudete", "Ciudad de Ceuta", "Gallarate", "Salgotarjan", "Leninsk-Kuznetskiy", "Pulawy", 
                      "Nadym", "Qapshaghay", "Cherbourg", "Rincon de la Victoria", "Harderwijk", "San Martino Buon Albergo", "Weymouth", "Neubiberg", "Gatchina", "Grosseto", "Sighetu Marmatiei", "Vittorio Veneto", "Montecatini Terme", "Lachen", "Odorheiu Secuiesc", "Kiskunfelegyhaza", "Kisvarda", "Myjava", "Aigle", "Sibenik", "Polva", "Wolfenbuttel", "Nysa", "Nizhnevartovsk", "Great Linford", "Fontaines-sur-Saone", "Ta' Xbiex", "Wesel", "Solnechnogorsk", "Geel", "Orekhovo-Borisovo Yuzhnoye", "Saint-Maur-des-Fosses", "Rho", "Poissy", "Alcala de Guadaira", "Canosa di Puglia", "Mnisek pod Brdy", "Hartlepool", "Kedainiai", "Sremski Karlovci", "Frydek-Mistek", "La Seyne-sur-Mer", "Cagnes-sur-Mer", "Douai", "Zebbug", "Civitavecchia", "Landsberg", "Koscierzyna", "Husum", "Elvas", "Lienz", "Vitry-sur-Seine", "Clichy", "Inowroclaw", "Chambery", "Kars", "Wloclawek", "Rudesheim am Rhein", "Thoiry", "Petropavl", "Courbevoic", "Spijkenisse", "Neuilly-sur-Seine", "Alexandria", "Neu-Ulm", "Slonim", "Samokov", "Mendrisio", "Seasalter", "Levanto", "Castellammare di Stabia", "Skofja Loka", "Jurbarkas", "Kocevje", "Sveti Nikole", "Kriva Palanka", "Raseiniai", "Saintes", "Gross-Umstadt", "Feltre", "Cesky Krumlov", "Antony", "Clamart", "Bastia", "Villefranche-sur-Saone", "Zagorje", "Crnomelj", "Esztergom", "Chios", "Bad Honnef am Rhein", "Ariano Irpino", "Gjovik", "Astrakhan", "Velikiy Novgorod", "Yevpatoriia", "Tamworth", "Ewell", "Cahul", "Nevsehir", "Pozzuoli", "Schio", "Crailsheim", "Maloyaroslavets", "Villacidro", "Manavgat", "Qyzylorda", "Cumbernauld", "Druskininkai", "Kirkwall", "Konin", "Affoltern am Albis", "Seferhisar", "Kerch", "Vrilissia", "Taraclia", "Gulbene", "Braine-l'Alleud", "Hamm", "Nefteyugansk", "Johvi", "Postojna", "Gelendzhik", "Kempten", "Antequera", "Dupnitsa", "Pfaffenhofen", "Wolfsberg", "Mytishchi", "Petropavlovsk-Kamchatskiy", "Serpukhov", "Nikopol", "Merthyr Tudful", "Macclesfield", "Barlad", "Saldus", "Talsi", "Madona", "Bedzin", "Chateauroux", "Ornskoldsvik", "Malacky", "Blagoveshchensk", "Sievierodonetsk", "Elbasan", "Hunedoara", "Smolyan", "Peshkopi", "Kavadarci", "Dunkerque", "Lisburn", "Bad Salzuflen", "Leonberg", "Marinha Grande", "Trebic", "Krotoszyn", "Stradella", "Treherbert", "Syktyvkar", "Hoofddorp", "Algeciras", "Murom", "Schwerin", "Lobnya", "Pazardzhik", "Lowestoft", "Vaslui", "Kirkcaldy", "Kajaani", "Plunge", "Escaldes-Engordany", "Steinkjer", "Sant Julia de Loria", "Zajecar", "Velikiye Luki", "Villingen-Schwenningen", "Penafiel", "Merignac", "Tournai", "Matera", "Offenburg", "Aldershot", "Herzogenrath", "Boleslawiec", "Ostuni", "Herzogenaurach", "Kilkis", "Meilen", "Ciechocinek", "Capriate San Gervasio", "Gorebridge", "Vladimir", "Krasnogorsk", "Dos Hermanas", "Besancon", "Bottrop", "Zhukovskiy", "Magadan", "Vidin", "Chichester", "Allschwil", "Ogre", "Wotton-under-Edge", "Diekirch", "Landshut", "Russelsheim", "Brasschaat", "Pinerolo", "Arlon", "Rambouillet", "Wangen im Allgau", "Cesenatico", "Csongrad", "Matosinhos", "Melitopol", "Nakhodka", "Novyy Urengoy", "Sesto San Giovanni", "Ajaccio", "Ponta Delgada", "Lytkarino", "Opfikon", "Acheres", "Yozgat", "Zejtun", "Rabat", "Wiltz", "Titel", "Leszno", "Tarnowskie Gory", "Viareggio", "Cerignola", "Kleve", "Sesimbra", "Borlange", "Bra", "Veendam", "Rovinj", "Taglio", "Drobak"]
final_european_living_costs = final_european_living_costs[~final_european_living_costs['city'].isin(drop_these_cities)]

##### Extract data frame to excel <a class="anchor" id="dftoexcel"></a>

In [ ]:
final_european_living_costs.to_excel("final_european_living_costs.xlsx", sheet_name='living_costs')

In [926]:
import pandas as pd
import sqlalchemy 
import psycopg2
# Import get_engine from sql_functions.py. You will need to restart your kernel and rerun at this point since we changed the module since we first imported it.
from sql_functions import get_engine 
# create a variable called engine using the get_engine function
engine = get_engine()

In [927]:
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
# Example: flights_sp for Sina's flights table, flights_groupname or similar
table_1 = 'final_european_living_costs'
schema = 'bestteamever'
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.
# This may take some time ...

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        final_european_living_costs.to_sql(name=table_1, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_1} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The final_european_living_costs table was imported successfully.

### Data on 'Are we working more than before?' <a class="anchor" id="workingmorethanbefore"></a>

In [ ]:
import pandas as pd
pd.read_csv
global_working_spans = pd.read_csv('annual-working-hours-per-worker.csv', delimiter=',')
global_working_spans.info()

In [ ]:
#rename the column
global_working_spans = global_working_spans.rename(columns={'Entity': "country", 'Year': "year", 'Average annual working hours per worker': "avg working hrs per worker"})

In [ ]:
#drop the columns
global_working_spans = global_working_spans.drop(['Code'], axis=1)

In [ ]:
#match and access column 'country' from both the data frames, we have 31 countries matched
european_working_spans = global_working_spans.loc[global_working_spans["country"].isin(list_european_countries)]

In [ ]:
#filter years to 2021-22, however we have latest 2017 
european_working_spans["year"].max()
final_european_working_spans = european_working_spans.loc[european_working_spans['year'].isin({2017})]

In [ ]:
#check on null values, good that we don't have any nulls in this data
final_european_working_spans.isnull().sum()

In [ ]:
final_european_working_spans.shape

In [ ]:
#extract df to excel
final_european_working_spans.to_excel("european_working_spans.xlsx", sheet_name="are we working more")

### Global life expectancy <a class="anchor" id="globallifeexpectancy"></a>

In [ ]:
import pandas as pd
pd.read_csv
global_gle = pd.read_csv('global-life_expectancy.csv', delimiter=',')
global_gle.head()

In [ ]:
global_gle = global_gle.rename(columns= {"Entity":'country', "Code":'code', "Year":'year', "Indicator:Life expectancy at birth (years) - Sex:Both sexes":'life expectancy'})
global_gle.head()

In [ ]:
#global_gle["year"].max()
global_gle = global_gle.loc[global_gle['year'].isin({2019})]
global_gle.head()
global_gle.shape

In [ ]:
final_european_gle = global_gle.loc[global_gle["country"].isin(list_european_countries)]
final_european_gle.head()

In [ ]:
final_european_gle.isnull().sum()

In [ ]:
final_european_gle.to_excel(excel_writer='european_life_expectancy.xlsx', sheet_name='final_european_gle')

In [928]:
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
# Example: flights_sp for Sina's flights table, flights_groupname or similar
table_2 = 'final_european_gle'
schema = 'bestteamever'
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.
# This may take some time ...

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        final_european_gle.to_sql(name=table_2, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_2} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The final_european_gle table was imported successfully.

### Data on 'Global health expenditure' <a class="anchor" id="globalhealthexpenditure"></a>

In [ ]:
import pandas as pd
pd.read_csv
global_health_expenditure = pd.read_csv('global-health-expenditure.csv', delimiter=',')
global_health_expenditure.head()

In [ ]:
global_health_expenditure = global_health_expenditure.rename(columns={"Entity":'country', "Code":'code', "Year":'year', "Indicator:Current health expenditure (CHE) as percentage of gross domestic product (GDP) (%)":'health_expenditure_percent_of_gdp'})
global_health_expenditure.head(15)

In [ ]:
#global_health_expenditure["year"].max()
global_health_expenditure = global_health_expenditure.loc[global_health_expenditure['year'].isin({2019})]

In [ ]:
final_european_health_expenditure = global_health_expenditure.loc[global_health_expenditure['country'].isin(list_european_countries)] 
final_european_health_expenditure.shape

In [ ]:
final_european_health_expenditure.isnull().sum()

In [ ]:
final_european_health_expenditure.to_excel(excel_writer='european_health_expenditure.xlsx', sheet_name='health_expenditure')

In [929]:
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
# Example: flights_sp for Sina's flights table, flights_groupname or similar
table_3 = 'final_european_health_expenditure'
schema = 'bestteamever'
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.
# This may take some time ...

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        final_european_health_expenditure.to_sql(name=table_3, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_3} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The final_european_health_expenditure table was imported successfully.

### Data on Child Mortality <a class="anchor" id="childmortality"></a>

In [ ]:
import pandas as pd
pd.read_csv
child_mortality = pd.read_csv('child-mortality-igme.csv', delimiter=',')
child_mortality.head()

In [ ]:
child_mortality = child_mortality.rename(columns={"Entity":'country', "Code":'code', "Year":'year', "Mortality rate, under-5 (per 1,000 live births)":'mortality rate'})
child_mortality.head()

In [ ]:
#child_mortality["year"].max()
child_mortality = child_mortality.loc[child_mortality['year'].isin({2020})]
child_mortality.shape

In [ ]:
final_european_child_mortality = child_mortality.loc[child_mortality['country'].isin(list_european_countries)]
final_european_child_mortality.shape

In [ ]:
final_european_child_mortality.isnull().sum()

In [ ]:
final_european_child_mortality.shape

In [ ]:
final_european_child_mortality.to_excel(excel_writer="child_mortality.xlsx", sheet_name='child_mortality')

### Data on GDP <a class="anchor" id="gdp"></a>

In [ ]:
import pandas as pd
pd.read_csv
global_gdp = pd.read_csv('GDP.csv')
global_gdp.head()

In [ ]:
global_gdp['2022'].isnull().sum()
#global_gdp['2022'].shape

In [ ]:
global_gdp = global_gdp.drop(['Subject Descriptor','Units','Scale', 'Country/Series-specific Notes', 'Estimates Start After', 'Unnamed: 14', '2020', '2021', '2023', '2024', '2025', '2026', '2027'], axis=1)
global_gdp.head()

In [ ]:
global_gdp = global_gdp.rename(columns={"Country":'country'})

In [ ]:
final_european_gdp = global_gdp.loc[global_gdp['country'].isin(list_european_countries)]
#final_european_gdp.shape
final_european_gdp.isnull().sum()

In [ ]:
final_european_gdp.to_excel(excel_writer="GDP.xlsx", sheet_name='GDP')

In [930]:
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
# Example: flights_sp for Sina's flights table, flights_groupname or similar
table_4 = 'final_european_gdp'
schema = 'bestteamever'
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.
# This may take some time ...

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        final_european_gdp.to_sql(name=table_4, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_4} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The final_european_gdp table was imported successfully.

### Data on Internet speed <a class="anchor" id="internetspeed"></a>

In [ ]:
import pandas as pd
pd.read_csv
global_internet_speed = pd.read_csv('Internet Speed 2022 2.csv')
global_internet_speed.shape

In [ ]:
global_internet_speed.columns = global_internet_speed.columns.str.lower()
global_internet_speed = global_internet_speed.rename(columns={'broadband':'broadband_internet_speed', 'mobile':'mobile_internet_speed'})

In [ ]:
global_internet_speed['broadband_internet_speed'] = global_internet_speed.broadband_internet_speed.apply(lambda x: x/8) # divide megabits into megabytes by factor 8

In [ ]:
final_european_internet_speed = global_internet_speed.loc[global_internet_speed['country'].isin(list_european_countries)]

In [ ]:
final_european_internet_speed.isnull().sum()

In [ ]:
final_european_internet_speed.to_excel(excel_writer="internet_speed.xlsx", sheet_name='internet speed')

In [931]:
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
# Example: flights_sp for Sina's flights table, flights_groupname or similar
table_5 = 'final_european_internet_speed'
schema = 'bestteamever'
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.
# This may take some time ...

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        final_european_internet_speed.to_sql(name=table_5, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_5} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The final_european_internet_speed table was imported successfully.

### Data on crime rate <a class="anchor" id="crimerate"></a>

In [ ]:
import pandas as pd
pd.read_csv
global_crime_index = pd.read_csv('World Crime Index .csv')
global_crime_index.head()

In [ ]:
global_crime_index = global_crime_index.drop(['Rank', 'Safety Index'], axis=1)
global_crime_index = global_crime_index.rename(columns={"City":'city', "Crime Index":'crime index'})
global_crime_index.head()

In [ ]:
splitted_columns = global_crime_index['city'].str.split(pat=', ', n=1, expand=True) 
global_crime_index["city"] = splitted_columns[0]
global_crime_index["country"] = splitted_columns[1]
global_crime_index = global_crime_index[["country", "city", "crime index"]]
global_crime_index.shape
#splitted_columns.head()

In [ ]:
final_european_crime_index = global_crime_index.loc[global_crime_index['country'].isin(list_european_countries)]
final_european_crime_index.shape

In [ ]:
final_european_crime_index.to_excel(excel_writer="Crime index.xlsx", sheet_name='crime index')

In [932]:
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
# Example: flights_sp for Sina's flights table, flights_groupname or similar
table_6 = 'final_european_crime_index'
schema = 'bestteamever'
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.
# This may take some time ...

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        final_european_crime_index.to_sql(name=table_6, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_6} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The final_european_crime_index table was imported successfully.

### Happy planet index <a class="anchor" id="happyplanetindex"></a>

In [934]:
import pandas as pd
pd.read_csv
european_hpi_2019 = pd.read_csv('european_hpi_2019.csv')
european_hpi_2019.head()

,hpi_rank,country,population_(thousands),year,life_expectancy,ladder_of_life_(0-10),footprint_(g_ha),hpi_score,biocapacity_for_year_(g_ha),gdp_per_capita_(us_dollar)
0,36.0,Albania,2880.913,2019.0,78.6,4.995318,1.953726,51.033094,1.56,13724.058790
1,59.0,Austria,8955.108,2019.0,81.5,7.195361,6.054527,46.813029,1.56,56011.611222
2,89.0,Belarus,9452.409,2019.0,74.8,5.821453,4.110975,42.887810,1.56,19249.285476
3,92.0,Belgium,11539.326,2019.0,81.6,6.772138,6.694854,42.534972,1.56,51830.746466
4,54.0,Bosnia and Herzegovina,3300.998,2019.0,77.4,6.015522,3.648305,47.781039,1.56,14922.148512

In [935]:
european_hpi_2019 = european_hpi_2019.drop(['year', 'life_expectancy', 'biocapacity_for_year_(g_ha)'], axis=1)
european_hpi_2019.head()

,hpi_rank,country,population_(thousands),ladder_of_life_(0-10),footprint_(g_ha),hpi_score,gdp_per_capita_(us_dollar)
0,36.0,Albania,2880.913,4.995318,1.953726,51.033094,13724.058790
1,59.0,Austria,8955.108,7.195361,6.054527,46.813029,56011.611222
2,89.0,Belarus,9452.409,5.821453,4.110975,42.887810,19249.285476
3,92.0,Belgium,11539.326,6.772138,6.694854,42.534972,51830.746466
4,54.0,Bosnia and Herzegovina,3300.998,6.015522,3.648305,47.781039,14922.148512

In [937]:
final_european_hpi_2019 = european_hpi_2019.rename(columns={"ladder_of_life_(0-10)":'subjective_wellbeing_0-10',"population_(thousands)": 'population_thousands', "footprint_(g_ha)":'carbon_footprint_global_hectare', "gdp_per_capita_(us_dollar)":'gdp_per_capita_us_dollar'})
final_european_hpi_2019.head()

,hpi_rank,country,population_thousands,subjective_wellbeing_0-10,carbon_footprint_global_hectare,hpi_score,gdp_per_capita_us_dollar
0,36.0,Albania,2880.913,4.995318,1.953726,51.033094,13724.058790
1,59.0,Austria,8955.108,7.195361,6.054527,46.813029,56011.611222
2,89.0,Belarus,9452.409,5.821453,4.110975,42.887810,19249.285476
3,92.0,Belgium,11539.326,6.772138,6.694854,42.534972,51830.746466
4,54.0,Bosnia and Herzegovina,3300.998,6.015522,3.648305,47.781039,14922.148512

In [938]:
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
# Example: flights_sp for Sina's flights table, flights_groupname or similar
table_7 = 'final_european_hpi_2019'
schema = 'bestteamever'
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.
# This may take some time ...

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        final_european_hpi_2019.to_sql(name=table_7, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_7} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The final_european_hpi_2019 table was imported successfully.