#import the data and libraries

In [ ]:
import pandas as pd
pd.read_csv
# Set column names to 'carrier' and 'name' # It made th ecolumns
global_living_costs_columns = ['city' , 'country', 'inexpensive_meal', 'mid_range_meal_for_two', 'mac_meal', 'domestic_beer_0.5', 'imported_beer_0.33', 'cappuccino_restaurants', 
                        'coke_0.33_restaurants', 'water_0.33_restaurants', 'milk_1_liter', 'loaf_fresh_white_bread_500g', 'white_rice_1kg', '12_eggs', 'local_cheese_1kg', 
                        'chicken_fillet_1kg', 'beef_1kg', 'apples_1kg', 'banana_1kg', 'oranges_1kg', 'tomato_1kg', 'potato_1kg', 'onion_1kg', 'lettuce_1_head', 'water_1.5ltr_market', 
                        'bottle_of_wine_market','domestic_beer_0.5ltr_market', 'imported_beer_0.33ltr_market', 'cigarettes_20packs_marlboro', 'one_way_ticket_local_transport', 
                        'monthly_pass', 'taxi_start', 'taxi_1km', 'taxi_1hr_waiting', 'gasoline_1ltr', 'car1_vw_golf', 'car2_toyota_corolla', 'apartment_extra_bills_85sqm', 
                        '1min__prepaid_call', 'internet', 'fitness_club_monthly', 'tennis_court_rent_1hr_weekend', 'cinema_1seat', 'kindergarten_full_day_private_monthly', 
                        'primary_school_yearly', 'one_jeans', 'one_summer_dress', 'nike_running_shoes_pair', 'leather_business_shoes_men', 'apartment_1_bed_city_center', 
                        'apartment_1_bed_outside_city_center', 'apartment_3_bed_city_center','apartment_3_bed_outside_city_center', 'price_per_sqm_buy_apartment_city_center',
                        'price_per_sqm_buy_apartment_outside_city_center', 'avg_monthly_salary', 'mortgage_interest_rate_percent', 'data_quality']

Create a dataframe for global data

In [ ]:
global_living_costs = pd.read_csv('cost-of-living_v2.csv', delimiter=',')
global_living_costs.head()

In [ ]:
global_living_costs = global_living_costs.rename(columns= {"x1":'inexpensive_meal', "x2":'mid_range_meal_for_two', "x3":'mac_meal', "x4":'domestic_beer_0.5', "x5":'imported_beer_0.33', "x6":'cappuccino_restaurants', 
                        "x7":'coke_0.33_restaurants', "x8":'water_0.33_restaurants', "x9":'milk_1_liter', "x10":'loaf_fresh_white_bread_500g', "x11":'white_rice_1kg', "x12":'12_eggs', 
                        "x13":'local_cheese_1kg', 
                        "x14":'chicken_fillet_1kg', "x15":'beef_1kg', "x16":'apples_1kg', "x17":'banana_1kg', "x18":'oranges_1kg', "x19":'tomato_1kg', "x20":'potato_1kg', 
                        "x21":'onion_1kg', "x22":'lettuce_1_head', "x23":'water_1.5ltr_market', 
                        "x24":'bottle_of_wine_market', "x25":'domestic_beer_0.5ltr_market', "x26":'imported_beer_0.33ltr_market', "x27":'cigarettes_20packs_marlboro', 
                        "x28":'one_way_ticket_local_transport', 
                        "x29":'monthly_pass', "x30":'taxi_start', "x31":'taxi_1km', "x32":'taxi_1hr_waiting', "x33":'gasoline_1ltr', "x34":'car1_vw_golf', "x35":'car2_toyota_corolla', 
                        "x36":'apartment_extra_bills_85sqm', 
                        "x37":'1min__prepaid_call', "x38":'internet', "x39":'fitness_club_monthly', "x40":'tennis_court_rent_1hr_weekend', "x41":'cinema_1seat', "x42":'kindergarten_full_day_private_monthly', 
                        "x43":'primary_school_yearly', "x44":'one_jeans', "x45":'one_summer_dress', "x46":'nike_running_shoes_pair', "x47":'leather_business_shoes_men', "x48":'apartment_1_bed_city_center', 
                        "x49":'apartment_1_bed_outside_city_center', "x50":'apartment_3_bed_city_center', "x51":'apartment_3_bed_outside_city_center', "x52":'price_per_sqm_buy_apartment_city_center',
                        "x53":'price_per_sqm_buy_apartment_outside_city_center', "x54":'avg_monthly_salary', "x55":'mortgage_interest_rate_percent'})

Check on null values

In [ ]:
global_living_costs.isnull().sum()

Data frame only for European 47 countries

In [ ]:
list_european_countries = ('Albania',
'Andorra',
'Belgium',
'Bosnia and Herzegovina',
'Bulgaria',
'Denmark',
'Germany',
'Estonia',
'Finland',
'France',
'Greece',
'Ireland',
'Iceland',
'Italy',
'Kazakhstan',
'Kosovo',
'Croatia',
'Latvia',
'Liechtenstein',
'Lithuania',
'Luxembourg',
'Malta',
'Moldova',
'Monaco',
'Montenegro',
'Netherlands',
'North Macedonia',
'Norway',
'Austria',
'Poland',
'Portugal',
'Romania',
'Russia',
'San Marino',
'Sweden',
'Switzerland',
'Serbia',
'Slovakia',
'Slovenia',
'Spain',
'Czech Republic',
'Turkey',
'Ukraine',
'Hungary',
'Vatican',
'United Kingdom',
'Belarus')

In [ ]:
#convert tuple to list for list_european_countries

list_european_countries = list(list_european_countries)

In [ ]:
#match and access column 'country' from both the data frames
european_living_costs = global_living_costs.loc[global_living_costs["country"].isin(list_european_countries)]

In [ ]:
#check on null values again
european_living_costs.isnull().sum()

In [ ]:
#dropping the redundant columns
final_european_living_costs = european_living_costs.drop(['monthly_pass', 'tennis_court_rent_1hr_weekend', 'primary_school_yearly', 'apartment_1_bed_city_center', 
                                                                'apartment_1_bed_outside_city_center',
                                                                'apartment_3_bed_city_center', 'apartment_3_bed_outside_city_center', 'price_per_sqm_buy_apartment_city_center', 
                                                                'price_per_sqm_buy_apartment_outside_city_center', 'mortgage_interest_rate_percent',
                                                                'data_quality'], axis = 1) #inplace= true, may be needed

In [ ]:
#final check on the dataframe, we have 1839 entries on 4950 rows and 47 columns with 47 countries
final_european_living_costs.isnull().sum()

In [ ]:
#extract df to excel
final_european_living_costs.to_excel("final_european_living_costs.xlsx", sheet_name='living_costs')

Data on 'Are we working more than ever?'

In [ ]:
import pandas as pd
pd.read_csv
global_working_spans = pd.read_csv('annual-working-hours-per-worker.csv', delimiter=',')
global_working_spans.info()

In [ ]:
#rename the column
global_working_spans = global_working_spans.rename(columns={'Entity': "country", 'Year': "year", 'Average annual working hours per worker': "avg working hrs per worker"})

In [ ]:
#drop the columns
global_working_spans = global_working_spans.drop(['Code'], axis=1)

In [ ]:
#match and access column 'country' from both the data frames, we have 31 countries matched
european_working_spans = global_working_spans.loc[global_working_spans["country"].isin(list_european_countries)]

In [ ]:
#filter years to 2021-22, however we have latest 2017 
european_working_spans["year"].max()
final_european_working_spans = european_working_spans.loc[european_working_spans['year'].isin({2017})]

In [ ]:
#check on null values, good that we don't have any nulls in this data
final_european_working_spans.isnull().sum()

In [ ]:
#extract df to excel
final_european_working_spans.to_excel("european_working_spans.xlsx", sheet_name="are we working more")

Data on GDP

In [65]:
import pandas as pd
pd.read_csv
global_gdp = pd.read_csv('GDP.csv', delimiter=',')
global_gdp.head()

,Country,Subject Descriptor,Units,Scale,Country/Series-specific Notes,2020,2021,2022,2023,2024,2025,2026,2027,Estimates Start After,Unnamed: 14
0,Afghanistan,"Gross domestic product, current prices",U.S. dollars,Billions,"See notes for: Gross domestic product, curren...",20.136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020.0,NaN
1,Albania,"Gross domestic product, current prices",U.S. dollars,Billions,"See notes for: Gross domestic product, curren...",15.161,18.310,18.256,18.842,19.858,21.219,22.528,23.889,2020.0,NaN
2,Algeria,"Gross domestic product, current prices",U.S. dollars,Billions,"See notes for: Gross domestic product, curren...",144.922,162.711,187.155,190.254,196.624,205.435,215.544,224.042,2021.0,NaN
3,Andorra,"Gross domestic product, current prices",U.S. dollars,Billions,"See notes for: Gross domestic product, curren...",2.885,3.330,3.302,3.360,3.517,3.680,3.835,3.985,2021.0,NaN
4,Angola,"Gross domestic product, current prices",U.S. dollars,Billions,"See notes for: Gross domestic product, curren...",58.125,75.179,124.794,135.558,142.198,149.076,156.463,164.414,2021.0,NaN

In [ ]:
# the columns names